.BGIMG01
  background-image: url("../assets/curso/introduccion/img04.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG02
  background-image: url("../assets/curso/tema1/img01.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG03
  background-image: url("../assets/curso/tema1/img05.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BG01
  background-color: #FBDCE5