.BGIMG01
  background-image: url("../assets/curso/introduccion/img04.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG02
  background-image: url("../assets/curso/tema1/img01.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG03
  background-image: url("../assets/curso/tema1/img05.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG04
  background-image: url("../assets/curso/tema1/img08.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BG01
  background-color: #FBDCE5

.BG02
  background: linear-gradient(to top, #E8E8E8, #fff) 
  border-radius: 35px

.img01
  margin-top: 10%
  margin-left: -70px
  max-width: 400%
  width: 150%

.img02
  margin-top: 10%
  margin-left: 70px
  max-width: 400%
  width: 150%