.BGIMG01
  background-image: url("../assets/curso/introduccion/img04.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG02
  background-image: url("../assets/curso/tema1/img01.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG03
  background-image: url("../assets/curso/tema1/img05.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG04
  background-image: url("../assets/curso/tema1/img08.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG05
  background-image: url("../assets/curso/tema1/img14.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG06
  background-image: url("../assets/curso/tema1/img21.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG07
  background-image: url("../assets/curso/tema1/img27.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG08
  background-image: url("../assets/curso/tema1/img31.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG09
  background-image: url("../assets/curso/tema1/img34.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG10
  background-image: url("../assets/curso/tema1/img35.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG11
  background-image: url("../assets/curso/tema1/img43.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG12
  background-image: url("../assets/curso/tema1/img54.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG13
  background-image: url("../assets/curso/tema1/img55.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG14
  background-image: url("../assets/curso/tema2/img09.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BG01
  background-color: #FBDCE5

.BG02
  background: linear-gradient(to top, #E8E8E8, #fff) 
  border-radius: 35px

.BG03
  background: #E4FDFC

.BG04
  background: linear-gradient(to top, #E4FDFC, #fff) 
  border-radius: 35px

.BG05
  background: linear-gradient(to top, #E3FCFB, #fff) 
  border-radius: 35px
  border: 2px solid #F1F1F1

.BG06
  background-color: #D5FFFC

.BG07
  background-color: #fff
  border-radius: 0px

.BG08
  background-color: #DAC5FF

.BG09
  background: linear-gradient(to bottom, #E9DCFD, #E4FDFC)
  border-radius: 0px

.img01
  margin-top: 10%
  margin-left: -70px
  max-width: 400%
  width: 150%

.img02
  margin-top: 10%
  margin-left: 70px
  max-width: 400%
  width: 150%

.img03
  position: relative
  left: 4%

.img04
  position: relative
  left: 37%
  max-width: 200%
  width: 121%

.bottom50
  position: relative
  bottom: -50%

.fa-chevron-right:before, .fa-chevron-left:before, .fa-dot-circle:before, .fas.fa-lock.fa-fw:before
  color: #500C75

.fa-angle-right:before
  color: #E01650

.slyder-a__tipo-b .slyder-a__btn--atrs, .slyder-a__tipo-b .slyder-a__btn--sigt, .slyder-a__bullets__item--active
  background-color:  #500C75

.slyder-a__bullets__item
  background-color: #B0C0D2

.cajon.color-acento-botones
  background-color: #E4FDFC

ol.lista-candado
  list-style-image: url("../assets/curso/tema1/img41.svg") 

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #79F5ED

.cajon.color-acento-contenido
  background-color: #F7C4D3

.bloque-texto-d.color-secundario:before
  background-color: #E9DCFD

.tarjeta.BG06.acordion__activo
  background-color: #E7DEFC

.linea-tiempo-d__item__content__slot, .linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  background-color: #E4FDFC

.linea-tiempo-d__item__content__title, .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
  background-color: #E9DCFD

